.header {
  position: relative;
  width: 100%;
  height: 150px;
  z-index: 5;
  @include media("<=phone") {
    height: 96px;
  }
  .logo {
    svg {
      width: 32px;
      height: 63px;
    }
  }
  .nav-links {
    a {
      color: black;
      cursor: pointer;
      margin-left: 18px;
      @include media("<=desktop") {
        height: 24px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}


